registry=https://registry.npmjs.org/
access=public
# Ignore files and folders that are not needed for package consumers
.npmignore
.gitignore
node_modules/
src/
# Use the registry URL as the publish URL
//registry.npmjs.org/:_authToken=${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}
publish=${registry}
